

{% extends 'recursoshumanos.html' %}

{% block consusolicihe %}
<hr>
<div class="container-fluid">

    <div class="row" >
        <div class="col">
            <div class="g-2 p-1 mt-1  text-center">
                <h5>Consultar Solicitações De Hora Extra </h5>
            </div>
        </div>
    </div>


    <h1></h1>

    <div class=" ps-2 container-expand-lg mb-1" >
        <div class="row" >
            <div class="col-4">
                <form method="POST" action="" class="border p-3 mt-1  border bg-light" enctype="multipart/form-data">
                    {{ solicitacoes.csrf_token }}

                    <legend class="text-center"><h6>Pesquisar Solicitações </h6></legend>
                    <fieldset>
                        <div class="form-group">




                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>

    <div class="container-expand-lg " >
            <table class="table table-sm caption-top  table-hover table-bordered ms-2  mb-2 border p-3 mt-1  border bg-light" >
                <caption>Lista de Solicitações</caption>
                <div class="row" >
                    <div class="col">
                      <thead class="table-dark">
                        <tr class="header">

                          <th scope="col">ID Solicitação</th>
                          <th scope="col">Data Solicitada</th>
                          <th scope="col">Solicitante</th>
                          <th scope="col">Líder</th>
                          <th scope="col">Quantidade Solicitada</th>
                          <th scope="col">Motivo</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for solicitacao in solicitacoes %}
                        <tr>

                            <td>{{ solicitacao.id }}</td>
                            <td>{{ solicitacao.data }}</td>
                            <td>{{ solicitacao.solicitante }}</td>
                            <td>{{ solicitacao.lider }}</td>
                            <td>{{ solicitacao.quantidade }}</td>
                            <td>{{ solicitacao.motivo }}</td>
                            <td>{{ solicitacao.status }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </div>
                </div>
            </table>
        </div>
    </div>
    <hr>
</div>





{% endblock %}
