
{% extends 'base.html' %}

{% block body %}

<nav class="d-flex container-fluid navbar-expand-lg p-2 text-white bg-dark  " style="width: 100%;">
        <div class=" nav-item justify-content" >
            <button class="btn btn-secondary  dropdown-toggle "  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastrar
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('cargos') }}">Cargos</a></li>
            <li><a class="dropdown-item" href="{{ url_for('cadastrarpessoas') }}">Pessoas</a></li>
            <li><a class="dropdown-item" href="{{ url_for('cadastrarfuncionario') }}">Funcionários</a></li>
          </ul>
        </div>
        <h1></h1>
        <div class="nav-item justify-content ps-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Hora Extra
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h6 class="text-center">Registrar</h6>
            <hr>
            <li><a class="dropdown-item" href="{{ url_for('solicitarhe') }}">Solicitar - Hora Extra</a></li>
            <li><a class="dropdown-item" href="{{ url_for('validarhoraextra') }}">Validar - Hora Extra</a></li>
            <li><a class="dropdown-item" href="{{ url_for('registrar_hora_extra') }}">Registrar - Hora Extra</a></li>
            <hr>
            <h6 class="text-center">Consultar</h6>
            <hr>
            <li><a class="dropdown-item" href="{{ url_for('consusolicihe') }}">Solicitações - Hora Extra</a></li>
            <li><a class="dropdown-item" href="{{ url_for('painelhoraextra') }}" target="_blank"onclick="window.open(this.href, this.target)"; >Painel - Hora Extra</a></li>
            <li><a class="dropdown-item" href="{{ url_for('consulregistrohe') }}">Registros - Hora Extra</a></li>
          </ul>
        </div>
        <h1></h1>
        <div class="nav-item justify-content ps-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Verificar
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('cargos') }}">Cargo</a></li>
            <li><a class="dropdown-item" href="#">Pessoa</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <h1></h1>
        <div class="nav-item justify-content ps-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Avaliar
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('cargos') }}">Cargo</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
</nav>

{% block cargo %}
{% endblock %}
{% block pessoa %}
{% endblock %}
{% block funcionario %}
{% endblock %}
{% block registrar_hora_extra %}
{% endblock %}
{% block solicitarhe %}
{% endblock %}
{% block consusolicihe %}
{% endblock %}
{% block validarhoraextra %}
{% endblock %}
{% block consulregistrohe %}
{% endblock %}
{% block painelhoraextra %}
{% endblock %}
{% endblock %}
